.home_main{
    width: 100vw !important;
}

#home_module_1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 4em;
}

#home_module_1 > p {
    font-size: 26.17924px;
}